body {
  margin: 1rem; 
  padding: 1rem;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 150vh;
}

.sidebar {
  background-color: #444;
  width: 100%;
  max-width: 250px;
  padding: 20px;
}

.container select {
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
}

.container select option {
  background-color: #444;
  color: white;
}

.container button {
  background-color: orange; /* Orange button background color */
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.box {
  margin: 10px;
  padding: 20px;
  background-color: #333; /* Selection boxes background color*/ 
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

@media (min-width: 768px) {

  .container {
    flex-direction: row;
    justify-content: center;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }

  .video-container {
    height: 300px; 
  }

}
/*body {

  margin: 1;
  padding: 1;
  background-color: black; /* Black background color for the entire app 
  color: white; /* White text color for the entire app 
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the selection bar vertically 
}

.sidebar {
  background-color: #444; /* Sidebar background color 
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
}

.container select {
  display: block;
  margin: 20px auto;
  background-color: #444; /* Selection bar background color 
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
}

.container select option {
  background-color: #444;
  color: white;
}

.container button {
  background-color: orange; /* Orange button background color 
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
}

.box {
  margin: 10px;
  padding: 20px;
  background-color: #333; /* Selection boxes background color 
  border-radius: 5px;
  width: 300px;
  text-align: center;
}
*/
